body {
  background-color: #3f3351;
}

h1 {
  color: #e9a6a6;
  font-family: monospace;
  font-size: 120px;
  text-align: center;
}

p {
  color: #e9a6a6;
  font-size: 20px;
  text-align: center;
  text-rendering: optimizeSpeed;
  font-family: monospace;
  margin-top: 50px;
}

form {
  color: #e9a6a6;
  text-align: center;
  font-family: monospace;
}

label {
  color: #e9a6a6;
  font-size: 20px;
  font-family: monospace;
}

#input-city {
  width: 250px;
  height: 10px;
  border-radius: 4px;
  padding: 5px;
  margin-left: 15px;
}

.submit {
  height: 20px;
  margin-left: 10px;
}

#weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  height: 250px;
  width: 240px;
}

#joke-title {
  margin-top: 200px;
  color: #e9a6a6;
  font-family: monospace;
  font-size: 50px;
  text-align: center;
}
